{
    "openapi": "3.0.3",
    "info": {
        "title": "",
        "version": "1.0.0",
        "description": ""
    },
    "servers": [
        {
          "url": "https://www.testhost.com"
        }
    ],
    "paths": {
        "/some/resource": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Array schema",
                        "headers": {
                            "X-My-Message-Header": {
                                "type": "string"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "description": "This is the message description "
                                                }
                                            }
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "other": {
                                                    "type": "string",
                                                    "description": "This is the message description "
                                                }
                                            }
                                        },
                                        {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "message": {
                                                        "type": "string",
                                                        "description": "This is the message description "
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                },
                                "examples": {
                                    "example1": {
                                        "message": "Hello World!"
                                    },
                                    "example2": {
                                        "other": "Hello World!"
                                    },
                                    "example3": {
                                        "other": "Hello World!"
                                    },
                                    "example4": [
                                        {
                                            "message": "Hello World!"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "examples": {
                                    "example1": {
                                        "message": "Invalid data"
                                    }
                                }
                            }
                        }
                    }
                },
                "summary": "Some resource",
                "operationId": "Some resource",
                "description": "",
                "tags": [],
                "parameters": []
            },
            "post": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "X-My-Message-Header": {
                                "type": "string"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "This is the message description "
                                        }
                                    }
                                },
                                "examples": {
                                    "example1": {
                                        "message": "Hello World!"
                                    },
                                    "example2": {
                                        "message": "Hello World!"
                                    }
                                }
                            }
                        }
                    }
                },
                "summary": "Some resource",
                "operationId": "Some resource",
                "description": "",
                "tags": [],
                "parameters": []
            }
        },
        "/test/attributes": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "otherMessage": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    ]
                                },
                                "examples": {
                                    "example1": {
                                        "message": "Hello World!"
                                    },
                                    "example2": {
                                        "otherMessage": "Hello World!"
                                    }
                                }
                            }
                        }
                    }
                },
                "summary": "Some resource",
                "operationId": "Some resource",
                "description": "",
                "tags": [],
                "parameters": []
            }
        }
    },
    "definitions": {
        "Some resource": {},
        "Message": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                }
            }
        },
        "OtherMessage": {
            "type": "object",
            "properties": {
                "otherMessage": {
                    "type": "string"
                }
            }
        }
    },
    "securityDefinitions": {},
    "tags": []
}