{
    "openapi": "3.0.3",
    "info": {
        "title": "",
        "version": "1.0.0",
        "description": ""
    },
    "servers": [
        {
            "url": "https://www.testhost.com"
        }
    ],
    "paths": {
        "/some/resource/{pathParam}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {}
                    }
                },
                "summary": "Some resource",
                "operationId": "Some resource",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "pathParam",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "example": "exampleValue",
                        "schema": {
                            "type": "string",
                            "default": "defaultValue"
                        }
                    },
                    {
                        "name": "queryParam",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "example": "value1",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "value1",
                                "value2"
                            ]
                        }
                    },
                    {
                        "name": "additionalQueryParam",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "oneOf": [
                                    {
                                        "type": "object",
                                        "properties": {
                                            "message1": {
                                                "type": "string",
                                                "description": "This is the message description "
                                            }
                                        }
                                    },
                                    {
                                        "type": "object",
                                        "properties": {
                                            "message2": {
                                                "type": "string",
                                                "description": "This is the message description "
                                            }
                                        }
                                    },
                                    {
                                        "type": "object",
                                        "properties": {
                                            "message3": {
                                                "type": "string",
                                                "description": "This is the message description "
                                            }
                                        }
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/another/resource/": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {}
                    }
                },
                "summary": "Another resource",
                "operationId": "Another resource",
                "description": "",
                "tags": [],
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "examples": {
                                "example1": {
                                    "value": {
                                        "message1": "Hello world"
                                    }
                                },
                                "example2": {
                                    "value": {
                                        "message2": "Hello world"
                                    }
                                }
                            },
                            "schema": {
                                "oneOf": [
                                    {
                                        "type": "object",
                                        "properties": {
                                            "message1": {
                                                "type": "string",
                                                "description": "This is the message description "
                                            }
                                        }
                                    },
                                    {
                                        "type": "object",
                                        "properties": {
                                            "message2": {
                                                "type": "string",
                                                "description": "This is the message description "
                                            }
                                        }
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/withAttributes": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {}
                    }
                },
                "summary": "Some resource",
                "operationId": "Some resource",
                "description": "",
                "tags": [],
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "example": {
                                "message": ""
                            },
                            "schema": {
                                "oneOf": [
                                    {
                                        "type": "object",
                                        "properties": {
                                            "someType": {
                                                "type": "string",
                                                "description": "This is the message description "
                                            }
                                        }
                                    },
                                    {
                                        "type": "object",
                                        "properties": {
                                            "message": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/onlyAttributes": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {}
                    }
                },
                "summary": "Some resource",
                "operationId": "Some resource",
                "description": "",
                "tags": [],
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Message"
                            }
                        }
                    }
                }
            }
        },
        "/onlyExamples": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {}
                    }
                },
                "summary": "Some resource",
                "operationId": "Some resource",
                "description": "",
                "tags": [],
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "examples": {
                                "example1": {
                                    "value": {
                                        "message": "test1"
                                    }
                                },
                                "example2": {
                                    "value": {
                                        "message": "test2"
                                    }
                                },
                                "example3": {
                                    "value": {
                                        "message": "test3"
                                    }
                                }
                            },
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "message": {
                                        "type": "string"
                                    }
                                }
                            }
                        },
                        "text/plain": {
                            "example": "test\n"
                        }
                    }
                }
            }
        },
        "/bodyOnly": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {}
                    }
                },
                "summary": "Some resource",
                "operationId": "Some resource",
                "description": "",
                "tags": [],
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "example": {
                                "message": "test2"
                            },
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "message": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Message": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    }
                }
            }
        }
    },
    "tags": []
}